@import 'reset';
@import 'variables';

///aside
:root {
  font-family: $font-family;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;

  @import 'aside';

  main {
    height: 80vh;
    background-color: map-get($colors, 'dark-green');
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
      position: relative;
      .header-content {
        height: 150px;
        background-color: map-get($colors, 'red');
        border: 1px solid map-get($colors, 'yellow');
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 16px;

        p {
          margin: 10px;
          color: map-get($colors, 'yellow');
          font-weight: map-get($font-weight, 'Medium');
          font-size: 12px;
        }
      }
      .form {
        position: inherit;
        top: -10%;
        margin: 0 auto;
        width: 90vw;
        max-width: 500px;
        height: 62vh;
        min-height: 400px;
        background-color: map-get($colors, 'light-green');
        border: 1px solid map-get($colors, 'yellow');

        h2 {
          color: map-get($colors, 'white');
          margin: 10px;
          font-size: 16px;
        }

        @import 'form';
      }
    }
  }

  @import 'footer';
}
